div.logo {
    background-color: rgb(49, 50, 61);
    height: 20%;
}

img.logo {
    margin-left: 35%;
    display: inline;
}

div.search {
    float: right;
    display: inline;
    margin: 24px;
}

nav.navbar {
    margin: 0;
    background-color: rgb(49, 50, 61);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
}

/* li.active{
    color: black;
    background-color: white;
    border-radius: 10px;
} */

li a {
    display: block;
    font-size: 10px;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li a:hover {
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 15px;
    cursor: pointer;
}

div.modal-content {
    /* background-image : url("bola.jpeg"); */
    color: white;
    background-color: rgb(49, 50, 61);
}

a.register:hover {
    color: white;
}

div.modal-body {
    text-align: center;
}

.w3-input {
    width: 50%;
    color: rgb(49, 50, 61);
}

button.btn-secondary {
    background-color: rgb(49, 50, 61);
    color: white;
}

.modal-title {
    text-align: center;
}

div.modal-footer {
    text-align: center;
}

.btn-secondary:hover {
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 15px;
    transition: all 0.5s ease 0s;
}

#register {
    display: none;
}

label {
    font-size: 12px;
}

#captchaTextBox {
    color: black;
}

div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

#Carousel,
#Carousel2 {
    height: 100%;
    margin: auto;
    overflow: hidden;
}

ol.carousel-indicators {
    margin: 0px;
}

div.footer-copyright {
    height: 15%;
    width: 100%;
    position: absolute;
    padding: 20px;
    background-color: rgb(49, 50, 61);
    color: white;
    font-size: 20px;
    bottom: 0;
    padding: 30px;
}

a.footer {
    margin: 10px;
}

a.footer:hover {
    color: white;
}

#profil {
    float: right;
    margin-top: 12px;
    color: white;
}

#football {
    text-align: center;
}