body {
    margin: 0;
}

#web_clock {
    padding: 36px;
    color: white;
}

div.row {
    background-color: rgb(49, 50, 61);
    height: 20%;
}

img.logo {
    display: inline;
}

.dropdown-menu{
    margin-left: auto;
}

#myInput {
    width: 20%;
    margin-top: 5px;
    margin-left: auto;
    padding: 10px;

}

#login_tab {
    margin-top: 40px;
}

.btnlive {
    position: relative;
    font-family: 'Lucida Sans Regular';
    margin-top: 40px;
    margin-left: 40%;
}

.btn-secondary:focus{
    color: rgb(49, 50, 61) !important;
    background-color: white !important;
    border-radius: 15px !important;
    outline: none !important;
}

#btnsettings {
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    size: 10px;
    float: right;
    color: white;
    cursor: pointer;
    visibility: hidden;
}

.inputsearch {
    border-radius: 5px;
    font-family: 'Lucida Sans Regular';
    display: inline;
}

.btnsearch {
    position: relative;
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 5px;
    left: 373px;
    top: 8px;
}

.search {
    border-radius: 5px;
}

nav.navbar {
    margin: 0px;
    background-color: rgb(49, 50, 61);
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
}

li a {
    font-size: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    font-family: 'Lucida Sans Regular';
}

ul li a:hover {
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 15px;
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

div.modal-content {
    color: white;
    background-color: rgb(49, 50, 61);
}

a.register:hover {
    color: white;
}

div.modal-body {
    text-align: center;
}

.w3-input {
    width: 50%;
    color: rgb(49, 50, 61);
}

button.btn-secondary {
    background-color: rgb(49, 50, 61);
    color: white;
}

.modal-title {
    text-align: center;
}

div.modal-footer {
    text-align: center;
}

.btn-secondary:hover {
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 15px;
    transition: all 0.5s ease 0s;
}

#register {
    display: none;
}

label {
    font-size: 12px;
}

#captchaTextBox {
    color: black;
}

canvas#captcha {
    background-color: white;
    padding: 2px;
    border-radius: 2px;
}

div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

#Carousel,
#Carousel2,
#Carousel3,
#Carousel4,
#Carousel5,
#Carousel6,
#Carousel8,
#Carousel9,
#Carousel10 {
    height: 100%;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
}

ol.carousel-indicators {
    margin: 0px;
}

footer {
    background-color: rgb(49, 50, 61);
    width: 100%;
    height: 50%;
    color: white;
    font-family: 'Lucida Sans Regular';
    padding: 10px;
}

.foto-footer {
    width: 100px;
    height: 100px;
    display: inline;
}

.about:hover {
    color: rgb(98, 127, 255);
    transition: all 0.5s ease 0s;
}

/* football */
.football {
    background-size: cover;
}

.tabs {
    background-color: rgb(49, 50, 61);
    color: white;
    font-family: 'Lucida Sans Regular';
}

.for-upload{
    background-color: white;
}

.judul {
    text-align: center;
    margin: 0;
    letter-spacing: 0.1cm;
    font-family: 'Lucida Sans Regular';
    padding: 16px;

}

.panel-group {
    padding: 24px;
}

.panel-body a {
    color: rgb(49, 50, 61);
    margin: 16px;
}

/* channels */
#channels {
    font-family: 'Lucida Sans Regular';
    font-size: 16px;
}

#sports,
#teams,
#basket,
.card {
    background-color: #c9d1d3;
    color: rgb(49, 50, 61);
}

.sporttv,
.baskettv {
    width: 100px;
    height: 100px;
    margin: 24px;
    cursor: pointer;
}

.teamstv {
    width: 220px;
    height: 170px;
    margin: 24px;
    cursor: pointer;
}



.w3-button:hover {
    transition: all 0.5s ease 0s;
}

.btn_submit {
    color: black;
}

#profil {
    color: white;
    display: inline;
    position: absolute;
    margin: 45px;
}

/* stream  */
.containerStream {
    background-color: #c9d1d3;
}

/* upload */
.well {
    width: 60%;
}

.upload-drop-zone {
    height: 200px;
    width: 50%;
    border-width: 2px;
    margin-bottom: 20px;
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 150px;
    text-align: center;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.upload-drop-zone.dropped {
    color: black;
    border-color: forestgreen;
}

.btn-lg {
    background-color: rgb(49, 50, 61);
    color: white;
}