
#web_clock{
    float: left;
    padding: 16px;
    color: white;
    margin-top: 3%;
}

div.logo {
    background-color: rgb(49, 50, 61);
    height: 20%;
}

img.logo {
    margin-left: 15%;
    display: inline;
}

div.search {
    float: right;
    display: inline;
    margin: 42px;
}

.btnsearch{
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 5px;
}

.inputsearch{
    border-radius: 5px;
    font-family: 'Lucida Sans Regular';
}

.search{
    border-radius: 5px;
}

nav.navbar {
    margin: 0;
    background-color: rgb(49, 50, 61);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
}

/* li.active{
    color: black;
    background-color: white;
    border-radius: 10px;
} */

li a {
    display: block;
    font-size: 10px;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    font-family: 'Lucida Sans Regular';
}

ul li a:hover {
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 15px;
    cursor: pointer;
}

div.modal-content {
    /* background-image : url("bola.jpeg"); */
    color: white;
    background-color: rgb(49, 50, 61);
}

a.register:hover {
    color: white;
}

div.modal-body {
    text-align: center;
}

.w3-input {
    width: 50%;
    color: rgb(49, 50, 61);
}

button.btn-secondary {
    background-color: rgb(49, 50, 61);
    color: white;
}

.modal-title {
    text-align: center;
}

div.modal-footer {
    text-align: center;
}

.btn-secondary:hover {
    background-color: white;
    color: rgb(49, 50, 61);
    border-radius: 15px;
    transition: all 0.5s ease 0s;
}

#register {
    display: none;
}

label {
    font-size: 12px;
}

#captchaTextBox {
    color: black;
}

div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

#Carousel,
#Carousel2 {
    height: 600px;
    margin: auto;
    overflow: hidden;
}

ol.carousel-indicators {
    margin: 0px;
}

div.footer-copyright {
    height: 15%;
    width: 100%;
    position: absolute;
    padding: 20px;
    background-color: rgb(49, 50, 61);
    color: white;
    font-size: 20px;
    bottom: 0;
    padding: 30px;
}

a.footer {
    margin: 10px;
}

a.footer:hover {
    color: white;
}

#profil {
    float: right;
    margin-top: 12px;
    color: white;
}

/* football */
.tabs{
    background-color: rgb(49, 50, 61);
    color: white;
    font-family: 'Lucida Sans Regular';
}

.judul{
    text-align: center;
    margin: 0;
    letter-spacing: 0.1cm;
    font-family: 'Lucida Sans Regular';
    padding: 16px;

}

/* channels */
#channels{
    font-family: 'Lucida Sans Regular';
    font-size: 16px;
}

#sports, #teams, #basket{
    background-color: rgb(98, 127, 255);
}

.sporttv, .teamstv, .baskettv{
    width: 100px;
    height: 100px;
    margin: 24px;
}

.w3-button:hover{
    transition: all 0.5s ease 0s;
}

.btn_submit{
    color: black;
}